---
import { date } from '../../utils';
import Default from '../../layouts/default.astro'

import { getEntry, render } from 'astro:content';
import { getCollection } from 'astro:content';

const { blog: blogId } = Astro.params

const blog = await getEntry('blog', blogId)
if (!blog) {
  throw new Error(`Ooops, broken link to ${blogId}??`);
}
const displayPubDate = blog.data.pubDate ? date(blog.data.pubDate) : '[DRAFT]'
const { Content } = await render(blog)

export async function getStaticPaths() {
  return (await getCollection('blog')).map(b => ({params: {blog: b.id}}))
}
---
<style>
  heading {
    h1 {
      font-family: 'Noto Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

      font-size: 250%;
      line-height: 1.2;
      font-weight: bold;
      margin-bottom: 0;
    }

    date {
      color: #aaa;
      @media (prefers-color-scheme: dark) {
        color: #888;
     }
    }

  }

  article {
    font-size: 18px;
    max-width: 40em;
    margin-bottom: 3em;
    line-height: 1.618;
  }
</style>
<Default title={blog.data.title} description={blog.data.description}>
  <article>
    <heading>
      <h1>{blog.data.title || blog.id}</h1>
      <date>{displayPubDate}</date>
    </heading>
    <Content />
  </article>
</Default>
