---
import { date } from '../../utils';
import Default from '../../layouts/default.astro'

import { getEntry, render } from 'astro:content';
import { getCollection } from 'astro:content';

const { blog: blogId } = Astro.params

const blog = await getEntry('blog', blogId)
if (!blog) {
  throw new Error(`Ooops, broken link to ${blogId}??`);
}
const { Content } = await render(blog);

export async function getStaticPaths() {
  return (await getCollection('blog')).map(b => ({params: {blog: b.id}}))
}
---
<style>
  heading {
    h1 {
      font-size: 250%;
      font-weight: bold;

      margin-bottom: 0;
    }

    date {
      font-style: italic;
    }
}

</style>
<Default title={blog.data.title}>
  <heading>
    <h1>{blog.data.title}</h1>
    <date>{date(blog.data.pubDate)}</date>
  </heading>
  <Content />
</Default>
