---
import Default from '../../layouts/default.astro'

import { getEntry, render } from 'astro:content';
import { getCollection } from 'astro:content';

const { blog: blogId } = Astro.params

const blog = await getEntry('blog', blogId)
if (!blog) {
  // Handle Error, for example:
  throw new Error(`Ooops, broken link to ${blogId}??`);
}
const { Content, headings } = await render(blog);

export async function getStaticPaths() {
  return (await getCollection('blog')).map(b => ({params: {blog: b.id}}))
}
---
<Default title={blog.data.title}>
  <h1>{blog.data.title}</h1>

  <Content />
</Default>
