html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  max-width: 1280px;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 auto;
  padding: 0 1em;
  color: #333;
}

.numbers {
  font-family: monospace;
}

.clickable {
  cursor: pointer;
}
.clickable,
a {
  display: inline-block;
  transition: all 0.1s;
}
.clickable,
a,
a:visited,
a:hover,
a:active {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  background-color: #ffefef;
  margin: -0.125em;
  padding: 0.125em;
}
.clickable:hover,
a:hover {
  color: #ffefef;
  background-color: #a00;

  -webkit-transform: rotateZ(-1deg);
  -ms-transform: rotateZ(-1deg);
  transform: rotateZ(-1deg);
}
.smash {
  transition: all 0.1s;

  -webkit-transform: rotateZ(1deg) !important;
  -ms-transform: rotateZ(1deg) !important;
  transform: rotateZ(1deg) !important;
}

@media (pointer: coarse) {
  .clickable:hover,
  a:hover {
    color: #333;
    background-color: #ffefef;

    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
}

#nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.3em 0;
  padding-left: 0;

  max-width: 640px;
}

#nav li {
  display: inline-block;
  margin: 0.3em;
}

/* smaller screens */
@media screen and (max-width: 760px) {
  body {
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
  }
}
/* Desktop font sizes */
@media screen and (max-width: 1280px) {
  body {
    font-size: 150%;
  }
}
@media screen and (max-width: 900px) {
  body {
    font-size: 135%;
  }
}
/* Now mobile */
@media screen and (max-width: 760px) {
  body {
    font-size: 150%;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 110%;
  }
}
@media screen and (max-width: 420px) {
  body {
    font-size: 100%;
  }
}
@media screen and (max-width: 380px) {
  body {
    font-size: 95%;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 85%;
  }
}
