:root {
  font-family: "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-bg: #fff;
  --color-text: #16191c;

  --color-a-bg: #ffefef;
  --color-a-text: #16191c;

  --color-a-hover-bg: #a00;
  --color-a-hover-text: #ffefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #16191c;
    --color-text: #cfd0d1;

    --color-a-bg: #600;
    --color-a-text: #ffefef;

    --color-a-hover-bg: #ffefef;
    --color-a-hover-text: #a00;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

body {
  max-width: 1280px;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 auto;
  padding: 0 1em;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Finds `grave-based` inline code blocks */
:not(.astro-code) > code {
  font-size: smaller;
  font-weight: bold;
}

/* Big ```code blocks``` */
.astro-code {
  border-radius: 5px;
  font-size: smaller;
  margin: -0.5em -1em;
  padding: 0.5em 1em;
}

/* make footnotes look smaller */
sup,
.footnotes {
  font-size: smaller;
}
.footnotes {
  border-top: thin solid var(--color-text);
}
#footnote-label {
  display: none;
}

.clickable {
  cursor: pointer;
  display: inline-block;
  transition: all 0.1s;
}
.clickable,
a,
a:visited,
a:hover,
a:active {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-a-text);
  background-color: var(--color-a-bg);
  margin: -0.125em;
  padding: 0.125em;
}
.clickable:hover,
a:hover {
  color: var(--color-a-hover-text);
  background-color: var(--color-a-hover-bg);

  -webkit-transform: rotateZ(-1deg);
  -ms-transform: rotateZ(-1deg);
  transform: rotateZ(-1deg);
}
.smash {
  transition: all 0.1s;

  -webkit-transform: rotateZ(1deg) !important;
  -ms-transform: rotateZ(1deg) !important;
  transform: rotateZ(1deg) !important;
}

@media (pointer: coarse) {
  .clickable:hover,
  a:hover {
    color: var(--color-a-text);
    background-color: var(--color-a-bg);

    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
}

#nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.3em 0;
  padding-left: 0;

  max-width: 640px;
}

#nav li {
  display: inline-block;
  margin: 0.3em;
}

/* smaller screens */
@media screen and (max-width: 900px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 760px) {
  body {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
/* @media screen and (max-width: 420px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 380px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 12px;
  }
} */
