html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  max-width: 1280px;
  font-size: 200%;
  line-height: 1.4;
  margin: 0 auto;
  padding: 0 1em;
  color: #333;
}

.numbers {
  font-family: monospace;
}

/* Layout */

#spiel {
  float: left;
  width: 60%;
}
#sidebar {
  width: 30%;
  float: right;
}

/* Links */
.clickable {
  cursor: pointer;
}
.clickable,
a {
  display: inline-block;
  transition: all 0.1s;
}
.clickable,
a,
a:visited,
a:hover,
a:active {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  background-color: #ffefef;
  margin: -0.125em;
  padding: 0.125em;
}
.clickable:hover,
a:hover {
  color: #ffefef;
  background-color: #a00;

  -webkit-transform: rotateZ(-1deg);
  -ms-transform: rotateZ(-1deg);
  transform: rotateZ(-1deg);
}
.smash {
  transition: all 0.1s;

  -webkit-transform: rotateZ(1deg) !important;
  -ms-transform: rotateZ(1deg) !important;
  transform: rotateZ(1deg) !important;
}

/* reverts link animation after tap on iPad */
@media (pointer: coarse) {
  .clickable:hover,
  a:hover {
    color: #333;
    background-color: #ffefef;

    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
}

/* Spiel only */

.greeting {
  line-height: 2ex;
}

/* Sidebar only */

#sidebar {
  font-size: 80%;
}

#sidebar #avatar {
  max-width: 100%;
  height: auto;
}

#sidebar ul {
  padding-left: 0;
}

#major-contacts li {
  list-style-type: none;
  overflow: hidden;
}
#major-contacts li svg {
  vertical-align: middle;
  max-height: 1.5rem;
  max-width: 1.5rem;
}

#major-contacts a,
#major-contacts a:visited,
#major-contacts a:hover,
#major-contacts a:active {
  margin: initial;
  padding: initial;
  font-weight: initial;
  background-color: initial;
  display: initial;
  color: #406cb6;
}
#major-contacts a:hover {
  color: red;
}

/* smaller screens */
@media screen and (max-width: 760px) {
  #avatar {
    display: none;
  }
  body {
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    overflow: auto;
    position: relative;
  }
  #sidebar {
    float: none;
    width: 100%;

    border-top: solid #eee;
    margin: 0;
  }
  #sidebar li {
    padding: 0.5em;
    margin: 0.5em;
  }

  /* FIXME: this does not look good in mobile */
  #major-contacts {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  #major-contacts svg {
    display: none;
  }

  #spiel {
    float: none;
    width: inherit;
    margin: 0.5em;
    margin-top: 0;
    padding: 1em;
    padding-top: 0;
  }
}
/* Desktop font sizes */
@media screen and (max-width: 1280px) {
  body {
    font-size: 150%;
  }
}
@media screen and (max-width: 900px) {
  body {
    font-size: 135%;
  }
}
/* Now mobile */
@media screen and (max-width: 760px) {
  body {
    font-size: 150%;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 110%;
  }
}
@media screen and (max-width: 420px) {
  body {
    font-size: 100%;
  }
}
@media screen and (max-width: 380px) {
  body {
    font-size: 95%;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 85%;
  }
}
